body {
  background-color: #00a877;
  height: 100%;
}

.container {
  border: 1px solid #010203;
  background-color: #fafafa;
  border-radius: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.container > h1 {
  text-align: center;
  border-bottom: 1px solid #010203;
  width: 100%;
}

.container > .login {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.field {
  padding: 10px;
  font-size: 18px;
}

.field > input[type=text], .field > input[type=password] {
  border: 1px solid #010203;
  border-radius: 10px;
  height: 32px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.field > input[type=submit] {
  border: 1px solid #010203;
  border-radius: 10px;
  margin-top: 8px;
  height: 38px;
  width: 100.37%;
  background-color: #ffb101;
  color: #010203;
  font-size: 16px;
  cursor: pointer;
}

.field > input[type=submit]:hover {
  background-color: #cd8e00;
}

.field > input[type=submit]:disabled {
  background-color: #808080;
  cursor: auto;
}

p {
  padding-left: 30%;
  padding-right: 30%;
  width: 60%;
}